.fotocontain img{
    width: 100%;
    display: block;
    height: 100%;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    background-color: rgba(230, 231, 231, 0.29);
}
.fotocontain img:hover{

}
.parrafos{
    display: inline;
    justify-items: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-family: Lato, Arial, Helvetica, sans-serif;
}
.butonsob{
    z-index: 9;
    position: relative;
    display: flex
    ;
    top: -60px;
    left: 80%;

}
.Divgrande{
    user-select: none;
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 380px));
    gap: 30px;
    padding: 10px;
    justify-content: space-around;

}
.parrafos li{
    padding: 4px;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid #3498db; /* Línea de color debajo del texto */
}
.parrafos li:hover{
    transform: scaleY(1.2);
}
.tit{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 20px;
    color: rgb(7, 10, 18);
    font-family: Lato, Arial, Helvetica, sans-serif;
    transition: 0.1s linear;
    margin: 20px;
    
}
.contM{
    background-color: rgba(186, 183, 183, 0.092);
    padding-top: 60px;
    padding-bottom: 10px;
}
